<!-- banner area starts -->
<section style="margin-top:-70px">
    <div style="overflow:hidden">
        <div class="homeBanner">

            <!-- Main container -->
            <div class="heroContainer">

                <div class="row heroTitleBold">Your Satisfaction. Guaranteed.</div>
                <div class="row heroTitleText">See if your Contractor Qualifies.</div>


                <!-- buttton Box starts -->
                <div class="btnBoxHome">
                    <a class="btn btnGetStartedHome" href="#/step1" style="padding:12px; font-weight:bold">GET
                        STARTED</a>
                </div>
            </div>
            <!-- buttton Box ends -->


        </div>
        <!-- Main container ends-->

    </div>
</section>
<!-- banner area ends -->

<!--press icons area starts-->
<section>

    <div class="row pressArea">
        <div class="col-xs-2 col-md-2"><img class="img-responsive" src="Content/images/featureLogo-Shareable.png" width="95%"/></div>
        <div class="col-xs-3 col-md-3"><img class="img-responsive" src="Content/images/featureLogo-WSJ.png" width="85%" /></div>
        <div class="col-xs-2 col-md-2"><img class="img-responsive" src="Content/images/featureLogo-Forbes.png" width="80%" /></div>
        <div class="col-xs-3 col-md-3"><img class="img-responsive" src="Content/images/featureLogo-FastCompany.png" width="75%"/></div>
        <div class="col-xs-2 col-md-2"><img class="img-responsive" src="Content/images/featureLogo-Mashable.png" width="90%"/></div>
    </div>
</section>
<!-- press icons area ends-->

<!-- Hire contractor area starts-->
<section>
    <div class="hm_ft_bg1">
        <div class="container">
            <p class="c_title">Hire Contractors with Confidence.</p>

            <p align="center">PeerProtect<sup>TM</sup> gives you peace of mind when hiring a contractor for your
                home improvement project.</p>

            <p align="center">Our unique TrustScore measures a contractor on 4 layers - verification, background,
                behavior and transactions.</p>

            <p align="center">We certify the best, and we back it up with our guarantee.
                <a href="#/step1"><b> Click here to see if your
                    contractor qualifies.</b></a></p>

        </div>
    </div>
</section>
<!-- Hire contractor area ends-->
